<section class="trip-expenses">
    <div class="container">
        <h2 class="trip-expenses__title title">Дополнительные расходы (по желанию)</h2>
        <div class="trip-expenses__items">

            <div class="item-price">
                <div class="item-price__box">
                    <div class="item-price__value">200 ₽</div>
                    <div class="item-price__type">Дача Сталина</div>
                </div>
            </div>

            <div class="item-price">
                <div class="item-price__box">
                    <div class="item-price__value">200 ₽</div>
                    <div class="item-price__type">Молочный водопад</div>
                </div>
            </div>

            <div class="item-price">
                <div class="item-price__box">
                    <div class="item-price__value">500 ₽</div>
                    <div class="item-price__type">Новоафинская пещера</div>
                </div>
            </div>

            <div class="item-price">
                <div class="item-price__box">
                    <div class="item-price__value">500 ₽</div>
                    <div class="item-price__type">Термальный источник</div>
                </div>
            </div>

            <div class="item-price">
                <div class="item-price__box">
                    <div class="item-price__type">Обед</div>
                </div>
            </div>

        </div>
    </div>
</section>