.accordion {
    &__title {
        border: none;
        position: relative;
        cursor: pointer;
        width: 100%;
        text-align: left;
        outline: none;
        transition: .3s linear all;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0px;
            width: 17px;
            height: 2px;
            border-radius: 2px;
            background-color: $blue;
            transition: .3s ease all;
            opacity: 1;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 17px;
            height: 2px;
            transform: rotate(90deg);
            border-radius: 2px;
            background-color: $blue;
            transition: .3s ease all;
        }
        &.active {
            // transition: .3s linear all;
            &:after {
                transform: rotate(-90deg);
                opacity: 0;
                transition: .3s ease all;
            }
            &::before {
                transition: .3s ease all;
                transform: rotate(0deg);
            }
        }
    }
    &__content {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: .3s ease all;
    }
    &__text {
        padding-bottom: 40px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        color: $black;
    }
}