<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Primary Meta Tags -->
<meta name="title" content="Путешествуй вместе с PERO TRAVEL">
<meta name="description" content="PeroTravel - Первый онлайн-сервис по бронированию экскурсий без очередей и операторов">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ilyalarin95.github.io/perotravel/">
<meta property="og:title" content="Путешествуй вместе с PERO TRAVEL">
<meta property="og:description" content="PeroTravel - Первый онлайн-сервис по бронированию экскурсий без очередей и операторов">
<meta property="og:image" content="img/bg-promo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://ilyalarin95.github.io/perotravel/">
<meta property="twitter:title" content="Путешествуй вместе с PERO TRAVEL">
<meta property="twitter:description" content="PeroTravel - Первый онлайн-сервис по бронированию экскурсий без очередей и операторов">
<meta property="twitter:image" content="img/bg-promo.png">